html {
  scroll-behavior: smooth;
}
a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }
body {
  font-family: "Montserrat";
  text-align: center;
}
h1{
  font-family: Montserrat;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2{
  font-family: Montserrat;
  font-weight: 600;
  line-height: 1.5;
  font-size: 3.5rem;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
}

.container-fluid {
  padding: 3% 15% 12%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.1rem;
  font-family: Montserrat;
  font-weight: lighter;
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0%;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(16deg);
  position: absolute;
  right: 10%;
}

/* Features */
#features {
  padding: 4% 15%;
  background-color: white;
  position: relative;
}

#features p {
  color: #8f8f8f;
}

.feature-box {
  padding: 5%;
}

.feature-img {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-img:hover {
  color: #ff4c68;
}



/* Testimonial */
#testimonials {
  background-color: #ff4c68;
  color: white;

}

#testimonials h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.5;
  padding: 0% 13% 4%;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 4% 15%;
}

#press {
  background-color: #ff4c68;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;

}

.card h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CALL TO ACTION */
#cta {
  background-color: #ff4c68;
  padding: 4% 15%;
}

#cta h3 {
  font-family: Montserrat;
  color: white;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* FOOTER */
#footer {
  padding: 4% 15%;
  text-align: center;
}

.ftr-icon {
  margin: 20px 10px;
}

/* MEDIA */
#title {
  text-align: center;
}

@media (max-width:1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
